@charset "utf-8";
/* CSS Document */
html, body {
	overflow: hidden;
    background: #f8eaf6;
}
.bodybg {
	/*background: #EDEEEB;*/
  background: url(../img/learning.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentbg {
/* From https://css.glass */
	background: rgba(255, 255, 255, 0.43);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.6px);
	-webkit-backdrop-filter: blur(4.6px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 100vh;
	overflow-y: scroll;
}

.content-inner-all {
    margin-left: 0px;
    transition: all 0.3s;
}

.mg-t-41 {
    margin-top: 0px;
}

.mg-t-60 {
    margin-top: 0px;
}

.login-fm
{
	background: linear-gradient(to right, #ff9966 0%, #ff66cc 100%);
}

.login-title {
    padding: 15px;
}

.login-bg {
    padding-top: 5px;
	padding-bottom: 0px;
}

.login-button-pro .login-button.login-button-lg {
    background: #06A1E6;
    margin-right: 10px;
    width: 48%;
    float: right;
    margin: 0px;
}

.login-button-pro .login-button.login-button-rg {
    background: #F39604;
    margin-right: 10px;
    width: 48%;
    float: right;
    margin: 0px;
}

.login-button-pro .login-button.login-button-pg {
    background: #f30404;
    margin-right: 10px;
    width: 100%;
    margin-top: 10px;
}

.login-button-pro .login-button.login-button-gg {
    background: #046123;
    margin-right: 10px;
    width: 48%;
    float: left;
    margin: 0px;
}

.logo {
    padding-top: 15px;
    text-align: center;
	padding-bottom: 15px;
}

.logbtn {
	text-align: center;
}

.header-top-area {
    background: transparent;
}

.fixed-header-top {
    left: 0px;
}

.login-input-area .login-user {
    top: 5px;
}

.login-input-head p {
    padding: 0px;
    margin: 0;
    font-size: 14px;
}

.login-input-area input[type="email"], .login-input-area input[type="password"], .login-input-area input[type="text"] {
    margin: 5px 0px;
}

.breadcome-list {
    padding: 10px 20px!important;
}

.income-rate-total h3 {
    color: #fff;
    font-size: 23px;
    padding-left: 15px;
}

.income-title {
    padding: 15px 20px 5px 20px;
    border-bottom: 1px solid rgba(233, 157, 128, 0.18);
}

.income-dashone-pro {
    padding: 0px 10px 10px;
}

.div1 {
        height: 460px;
      }

.footer-copyright-area {
    bottom: 0;
    position: fixed;
    width: 100%;
	padding: 10px 0px;
}
@media (max-width: 767px){
#dv-1 { flex-direction: column; }
.div1 {
    order:2;
	height: 750px;
        }
.div2 {
            order:1;
	padding-right: 0px;
    padding-left: 0px;
        }

.mg-t-41 {
    margin-top: 40px;
}
	
.mg-t-60 {
    margin-top: 30px!important;
}
	
.dashone-comment {
    text-align: left;
    height: 750px!important;
}
	
.logo-wrap-pro {
    display: block;
	}
.fixed-header-top {
    left: 0px;
}

.login-title {
    padding: 15px 0px!important;
}
}
